# Python
__pycache__/
*.pyc
*.pyo
*.pyd
# *.env

# Virtual environment
venv/
env/
.venv/

datapreparation/
backup/
output/
# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Build / distribution files
build/
dist/
*.egg-info/
*.egg

